extends layouts/main

block variables
    - var title = "Главная"
block content
    .content__container.content__main--bg-img
        .content__main.content__main--bc_black
            .content__row.container
                .container__header
                    h2.container__h2.container__h2--style_white Олимпиады
                .container__body
                    .olymps.blocks
                        .olymps__wrap.blocks__wrap
                            .olymps__elem.frame.frame--style_shadow
                                .olymps__header
                                    h3.olymps__h3.frame__header История
                                    p.olymps__date= 'Февраль '
                                        span 2018
                                .olymps__body
                                    p.olymps__info.olymps__p Отборочный этап: 10 Января - 31 Января
                                    p.olymps__participants.olymps__p
                                        i.fas.fa-user.olymps__user-icon
                                        | Участников:
                                        span= ' 1 750'
                                    block linkToOlymp
                        .olymps__wrap.blocks__wrap
                            .olymps__elem.frame.frame--style_shadow
                                .olymps__header
                                    h3.olymps__h3.frame__header Администрирование компьютерных систем
                                    p.olymps__date= 'Февраль '
                                        span 2018
                                .olymps__body
                                    p.olymps__info.olymps__p Отборочный этап: 10 Января - 31 Января
                                    p.olymps__participants.olymps__p
                                        i.fas.fa-user.olymps__user-icon
                                        | Участников:
                                        span= ' 1 750'
                                    block linkToOlymp
                        .olymps__wrap.blocks__wrap
                            .olymps__elem.frame.frame--style_shadow
                                .olymps__header
                                    h3.olymps__h3.frame__header Конкурс научно-исследовательских работ “Физика перспективных материалов”
                                    p.olymps__date= 'Февраль '
                                        span 2018
                                .olymps__body
                                    p.olymps__info.olymps__p Отборочный этап: 10 Января - 31 Января
                                    p.olymps__participants.olymps__p
                                        i.fas.fa-user.olymps__user-icon
                                        | Участников:
                                        span= ' 1 750'
                                    block linkToOlymp

    .content__container
        .content__main
            .content__row.container
                .container__header
                    h2.container__h2 Документы
                .container__body
                    .documents.blocks
                        .documents__wrap.blocks__wrap
                            a(href='#').documents__elem.frame.frame--style_border
                                i.far.fa-file-word.frame__icon
                                p.documents__name Положение об организации и проведении ВСО по «Администрирование Компьютерных систем»
                        .documents__wrap.blocks__wrap
                            a(href='#').documents__elem.frame.frame--style_border
                                i.far.fa-file-word.frame__icon
                                p.documents__name Положение об организации и проведении ВСО по «Истории»
                        .documents__wrap.blocks__wrap
                            a(href='#').documents__elem.frame.frame--style_border
                                i.far.fa-file-word.frame__icon
                                p.documents__name Положение об организации и проведении ВСО по «Физике»